In [1]:
import os
os.chdir('C:/Users/Prashant/Desktop/etlhive/titanic')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv('train.csv')
print(data.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [3]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
data.drop('Cabin',axis=1,inplace=True)

In [5]:
medianAge=data['Age'].median()
data['Age']=data['Age'].fillna(medianAge)

In [6]:
data.drop('Embarked',axis=1,inplace=True)

In [7]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare'],
      dtype='object')

In [9]:
data.drop('Ticket',axis=1,inplace=True)

In [10]:
data.drop('Name',axis=1,inplace=True)

In [11]:
data = pd.get_dummies(data, columns =[ 'Sex'])

In [12]:
x = data[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_female', 'Sex_male']]
y = data['Survived']

from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [13]:
data.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male
PassengerId,1.000000,-0.005007,-0.035144,0.034212,-0.057527,-0.001652,0.012658,-0.042939,0.042939
Survived,-0.005007,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307,0.543351,-0.543351
Pclass,-0.035144,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500,-0.131900,0.131900
Age,0.034212,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688,-0.081163,0.081163
SibSp,-0.057527,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651,0.114631,-0.114631
Parch,-0.001652,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225,0.245489,-0.245489
Fare,0.012658,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000,0.182333,-0.182333
Sex_female,-0.042939,0.543351,-0.131900,-0.081163,0.114631,0.245489,0.182333,1.000000,-1.000000
Sex_male,0.042939,-0.543351,0.131900,0.081163,-0.114631,-0.245489,-0.182333,-1.000000,1.000000

In [14]:
# import support vector classifier 
from sklearn.svm import SVC # "Support Vector Classifier" 

clf = SVC(kernel='linear') 
clf.fit(xtrain,ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [15]:
pred=clf.predict(xtest)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix

In [17]:
print(confusion_matrix(ytest,pred))

[[97 10]
 [27 45]]

In [18]:
print(classification_report(ytest, pred))

             precision    recall  f1-score   support

          0       0.78      0.91      0.84       107
          1       0.82      0.62      0.71        72

avg / total       0.80      0.79      0.79       179

In [19]:
xtest=data[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_female', 'Sex_male']]
data['Survived']=0
ytest=data['Survived']

print('xtest :',xtest.shape)
print('ytest :',ytest.shape)

print('xtrain :',xtrain.shape)
print('ytrain :',ytrain.shape)

xtest : (891, 8)
ytest : (891,)
xtrain : (712, 8)
ytrain : (712,)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split



model=RandomForestClassifier()
model.fit(xtrain,ytrain)
pred1=model.predict(xtest)
score=accuracy_score(ytest,pred1)
print(score)

0.6498316498316499

In [21]:
test= pd.read_csv('test.csv')

In [22]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
test.drop('Cabin',axis=1,inplace=True)

In [24]:
medianAge=data['Age'].median()
test['Age']=test['Age'].fillna(medianAge)

In [25]:
test.drop('Embarked',axis=1,inplace=True)

In [26]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   29.805024    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.667969    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   28.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [27]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare'],
      dtype='object')

In [28]:
test.drop('Ticket',axis=1,inplace=True)

In [29]:
test.drop('Name',axis=1,inplace=True)

In [30]:
test = pd.get_dummies(test, columns =['Sex'])

In [31]:
test.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male'],
      dtype='object')

In [33]:
test.corr

<bound method DataFrame.corr of      PassengerId  Pclass   Age  SibSp  Parch      Fare  Sex_female  Sex_male
0            892       3  34.5      0      0    7.8292           0         1
1            893       3  47.0      1      0    7.0000           1         0
2            894       2  62.0      0      0    9.6875           0         1
3            895       3  27.0      0      0    8.6625           0         1
4            896       3  22.0      1      1   12.2875           1         0
5            897       3  14.0      0      0    9.2250           0         1
6            898       3  30.0      0      0    7.6292           1         0
7            899       2  26.0      1      1   29.0000           0         1
8            900       3  18.0      0      0    7.2292           1         0
9            901       3  21.0      2      0   24.1500           0         1
10           902       3  28.0      0      0    7.8958           0         1
11           903       1  46.0      0      0   26.0000           0         1
12           904       1  23.0      1      0   82.2667           1         0
13           905       2  63.0      1      0   26.0000           0         1
14           906       1  47.0      1      0   61.1750           1         0
15           907       2  24.0      1      0   27.7208           1         0
16           908       2  35.0      0      0   12.3500           0         1
17           909       3  21.0      0      0    7.2250           0         1
18           910       3  27.0      1      0    7.9250           1         0
19           911       3  45.0      0      0    7.2250           1         0
20           912       1  55.0      1      0   59.4000           0         1
21           913       3   9.0      0      1    3.1708           0         1
22           914       1  28.0      0      0   31.6833           1         0
23           915       1  21.0      0      1   61.3792           0         1
24           916       1  48.0      1      3  262.3750           1         0
25           917       3  50.0      1      0   14.5000           0         1
26           918       1  22.0      0      1   61.9792           1         0
27           919       3  22.5      0      0    7.2250           0         1
28           920       1  41.0      0      0   30.5000           0         1
29           921       3  28.0      2      0   21.6792           0         1
..           ...     ...   ...    ...    ...       ...         ...       ...
388         1280       3  21.0      0      0    7.7500           0         1
389         1281       3   6.0      3      1   21.0750           0         1
390         1282       1  23.0      0      0   93.5000           0         1
391         1283       1  51.0      0      1   39.4000           1         0
392         1284       3  13.0      0      2   20.2500           0         1
393         1285       2  47.0      0      0   10.5000           0         1
394         1286       3  29.0      3      1   22.0250           0         1
395         1287       1  18.0      1      0   60.0000           1         0
396         1288       3  24.0      0      0    7.2500           0         1
397         1289       1  48.0      1      1   79.2000           1         0
398         1290       3  22.0      0      0    7.7750           0         1
399         1291       3  31.0      0      0    7.7333           0         1
400         1292       1  30.0      0      0  164.8667           1         0
401         1293       2  38.0      1      0   21.0000           0         1
402         1294       1  22.0      0      1   59.4000           1         0
403         1295       1  17.0      0      0   47.1000           0         1
404         1296       1  43.0      1      0   27.7208           0         1
405         1297       2  20.0      0      0   13.8625           0         1
406         1298       2  23.0      1      0   10.5000           0         1
407         1299       1  50.0      1      1  211.5000           0         1
408         1300       3  28.0      0      0    7.7208           1         0
409         1301       3   3.0      1      1   13.7750           1         0
410         1302       3  28.0      0      0    7.7500           1         0
411         1303       1  37.0      1      0   90.0000           1         0
412         1304       3  28.0      0      0    7.7750           1         0
413         1305       3  28.0      0      0    8.0500           0         1
414         1306       1  39.0      0      0  108.9000           1         0
415         1307       3  38.5      0      0    7.2500           0         1
416         1308       3  28.0      0      0    8.0500           0         1
417         1309       3  28.0      1      1   22.3583           0         1

[418 rows x 8 columns]>

In [36]:
# import support vector classifier 
from sklearn.svm import SVC # "Support Vector Classifier" 

clf = SVC(kernel='linear') 
clf.fit(xtrain,ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [37]:
pred=clf.predict(xtest)

In [38]:
from sklearn.metrics import classification_report, confusion_matrix

In [39]:
print(confusion_matrix(ytest,pred))
print(classification_report(ytest, pred))

[[596 295]
 [  0   0]]
             precision    recall  f1-score   support

          0       1.00      0.67      0.80       891
          1       0.00      0.00      0.00         0

avg / total       1.00      0.67      0.80       891

C:\ProgramData\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [46]:
x=test[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male']]

pred = model.predict(x)
pred = pd.DataFrame(pred)

In [42]:
test.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           1
Sex_female     0
Sex_male       0
dtype: int64

In [44]:
medianFare=data['Fare'].median()
test['Fare']=test['Fare'].fillna(medianFare)

In [47]:
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0          892       3  34.5      0      0   7.8292           0         1
1          893       3  47.0      1      0   7.0000           1         0
2          894       2  62.0      0      0   9.6875           0         1
3          895       3  27.0      0      0   8.6625           0         1
4          896       3  22.0      1      1  12.2875           1         0

In [49]:
test.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male'],
      dtype='object')

In [50]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Sex_female     418 non-null uint8
Sex_male       418 non-null uint8
dtypes: float64(2), int64(4), uint8(2)
memory usage: 20.5 KB

In [51]:
test.shape

(418, 8)

In [53]:
import pandas as pd

pred.to_csv('prediction11.csv')